@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: Roboto, sans-serif;
}

.tiles {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 10px;
}

/****************************************
*****************Truck*********************
********************************************/
.tile {
  height: 140px;
  width: 380px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f4f9fe;
}
.item-text {
  position: absolute;
  top: -5px;
  left: 20px;
  height: 200px;
  width: 400px;
  font-size: 17px;
  line-height: 24px;
}
.item-img-truck {
  position: absolute;
  bottom: 0;
  right: -30px;
  background-image: url(/IMG/Truck.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 150px;
  width: 200px;
  height: 200px;
}
/****************************************
*****************Pills*********************
********************************************/

.item-img-pills {
  position: absolute;
  bottom: 0;
  right: -30px;
  background-image: url(/IMG/Pills.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 250px;
  width: 200px;
  height: 200px;
}

/****************************************
*****************Vegetables*********************
********************************************/
.item-img-vegetables {
  position: absolute;
  bottom: 0;
  right: -30px;
  background-image: url(/IMG/Vegetables.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 190px;
  width: 200px;
  height: 200px;
}
/****************************************
*****************Tools*********************
********************************************/
.item-img-tools {
  position: absolute;
  bottom: 0;
  right: -30px;
  background-image: url(/IMG/Tools.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 170px;
  width: 200px;
  height: 200px;
}

/****************************************
*****************FuturisticTruck*********************
********************************************/
.item-img-futuristicTruck {
  position: absolute;
  bottom: 0;
  right: -30px;
  background-image: url(/IMG/FuturisticTruck.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 150px;
  width: 250px;
  height: 250px;
}
